@media only screen and (max-width: 768px) {
	#img-box{
		display: flex;
		justify-content: center;
		
	}
	
}
	

#container{
	background-image: url('https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/forest.jpg');
    
    /* Centra y escala la imagen correctamente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: 1px solid rgb(20, 221, 70);
}


.box-arrows img {
	opacity: 70%;
	box-shadow: 0 9px #999;
	transition: all ease 0.05s;
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
	border-radius: 50%;
	border-color: #666;
}

.box-arrows img:hover {
	opacity: 100%;
	background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
}

.box-arrows img:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 50%, #e5e5e5 100%);
}


h1{
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}



/* div{
	border: 1px solid red;
}  */


